footer {
  background-color: #121212;
  font-family: "Poppins", sans-serif;
  padding: 100px 0px;
  color: white;
}

footer ul {
  list-style-type: none;
  display: contents;
}

footer ul li {
  padding: 5px 0;
}
footer a {
  text-decoration: none;
  color: gray;
  font-size: large;
  margin: 5px 0;
  /* letter-spacing: 0.01rem; */
}

footer a:hover {
  color: white;
}

.social-media i {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}

.social-media i:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
