.navbar {
  font-size: large;
  background-color: #1b1e21 !important;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.cart-count:after {
  content: attr(value);
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 1px 8px;
  text-align: center;
  position: relative;
  left: -8px;
  top: -10px;
  background: transparent;
}

.login-btn,
.logout-btn {
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  background: linear-gradient(#49ca45 0%, #38ac33 100%) transparent !important;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-decoration: none;
  letter-spacing: 1px;
}

.logout-btn {
  background: linear-gradient(#ca4545 0%, #ac3333 100%) transparent !important;
}
.login-btn:hover,
.logout-btn:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  color: white;
  box-shadow: 0px 0px 20px #38ac33;
}

.logout-btn:hover {
  box-shadow: 0px 0px 20px #ac3333;
}
