.profile-image {
  border: 1px solid black;
  padding: 50px;
  border-radius: 50%;
  font-size: 12px;
}

.profile-container {
  padding: 100px;
}
.profile-img-container {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.dashboard--hr {
  height: 30px;
  width: 100%;
  color: #000;
}

.left-dash {
  border-right: 1px solid rgb(189, 189, 189);
  padding-right: 10px;
  cursor: pointer;
}

.left-dash-item:hover {
  border-radius: 20px;
  background-color: #258faf;
  color: white;
  transition: 0.3s;
}
.left-dash-item {
  padding: 10px 10px 10px 20px;
}
.dashboard-icon {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.dashboard-card {
  margin-right: 1vw;
  padding: 2vh;
  border: 1px solid rgb(102, 102, 102);
}
