.food-reviews-modal-container{
    padding: 10px;
    font-family: Poppins, sans-serif;
}

.reviews-card{
    background-color: rgb(53, 124, 182);
    margin: 5px 10px;
    width: 90%;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Poppins, sans-serif;
    color: white
}

.sort-by-select{
    width: 50%;
}