.cart-card {
  background-color: rgb(240, 240, 231);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cart-card:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.card-image {
  width: 150px;
  margin-right: 10px;
  border-radius: 10px;
}

.minus {
  color: red;
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
}

.plus {
  color: green;
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
}

.minus:hover {
  background-color: crimson;
  color: white;
  border-radius: 10px;
}

.plus:hover {
  background-color: rgb(22, 107, 50);
  color: white;
  border-radius: 10px;
}

.remove--icon {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-left: 20px;
}

.remove--icon:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.total--taka {
  margin-top: auto;
  font-size: 20px;
  margin-right: 20px;
}

.plus--minus--remove {
  margin-top: auto;
}
