.status--box-confirm {
  background-color: green;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-top: 2px;
  width: 20vw;
  margin-right: 5px;
}

.status--box-cancel {
  background-color: rgb(128, 0, 0);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-top: 2px;
  width: 10vw;
  margin-left: 5px;
}

.status--box-confirm:hover {
  cursor: pointer;
  background-color: rgb(0, 161, 54);
}
.status--box-cancel:hover {
  cursor: pointer;
  background-color: rgb(192, 0, 0);
}

.active-status {
  background-color: green;
  opacity: 1;
}
.orders-card {
  background-color: rgb(230, 255, 247);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 45%;
  margin-right: 20px;
}
.time--input {
  width: 15%;
  height: 3vh;
  margin: 0 5px;
  font-size: 20px;
}

.time-card {
  background-color: black;
  color: wheat;
  margin-left: 5px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.confirm--cancel--btn {
  margin-top: 20px;
}

.ordered--items {
  height: 20vh;
}
