.cart-page-container{
  min-height: 85vh;
}
.cart--header {
  font-family: Poppins, sans-serif;
}
.total--cost--card {
  background-color: rgb(240, 240, 231);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.apply--voucher--btn {
  background-color: tomato;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.apply--voucher--btn--inv {
  background-color: rgb(168, 168, 168);
  border-radius: 10px;
  padding: 10px;
  color: rgb(204, 204, 204);
}
.apply--voucher--btn--inv:hover {
  cursor: not-allowed;
}

.apply--voucher--btn:hover {
  background-color: rgb(255, 73, 41);
  cursor: pointer;
}
.voucher--input {
  width: 50%;
  height: 40px;
  border: 1px solid tomato;
  border-radius: 5px;
  color: tomato;
  font-size: 20px;
  font-weight: bold;
}
.voucher--input:focus {
  border: 1px solid tomato;
  border-radius: 5px;
  outline-offset: 0px;
  outline: none;
}
.address--input {
  width: 100%;
  height: 50px;
  overflow-wrap: break-word;
  border-radius: 5px;
  color: tomato;
  font-weight: bold;
}

.cart--empty--png {
  width: 20vw;
  color: tomato;
  padding: 10px;
  margin-bottom: 20px;
}

.cart-empty-text {
  font-family: Poppins, sans-serif;
}

.final-confirm-btn{
  margin-top: 13px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}